.topnav {
    width:100%;
    margin:0px;
    overflow: hidden;
    padding:0px;
    padding-left: 26%;
    background-image: url(https://bit.ly/31rspTb)
}
.topnav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
    background-color:rgb(204, 179, 163);
    display: block;
    float:left;
    padding:2rem ;
}

    body {
        background-color:rgb(250, 239, 225);

    }